@import '_nullstyle';

body{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

h1{
    font-size: 30px;
    color: green;
    padding: 20px 0px 20px;
}

canvas{
    box-shadow: black 20px 10px 50px;
    background-image: url('../img/bg.jpg');
}

.blockButton {
    display: none;
    position: relative;
}

.arrowImg {
    position: absolute;
    width: 40px;
    height: 40px;
}

.arrowImgUp {
    top:  20px;
    left: 0px;
}

.arrowImgDown {
    top: 100px;
    left: 0px;
}

.arrowImgLeft {
    top:   60px;
    left: -40px;
}

.arrowImgRight {
    top:  60px;
    left: 40px;
}